@model DoAnMonPhanTichPhanMem.Areas.GiamDoc.Models.TaiKhoan
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
@if (TempData["SuccessMessage"] != null)
{
	 <div>
        @TempData["SuccessMessage"]
    </div>
}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Quản Lý Cơ Sở Vật Chất</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="codedthemes">
	<meta name="keywords"
		  content=", Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
	<meta name="author" content="codedthemes">

	<!-- Favicon icon -->
	<link rel="stylesheet" href="~/Admin/FormDangNhap/Style.css"/>
	<link rel="shortcut icon" href="~/Admin/assets/images/Logoispace.png" type="image/x-icon">
	<link rel="icon" href="~/Admin/assets/images/Logoispace.png" type="image/x-icon">

	<!-- Google font-->
	<link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700" rel="stylesheet">

	<!-- Font Awesome -->
	<link href="~/Admin/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!--ico Fonts-->
	<link rel="stylesheet" type="text/css" href="~/Admin/assets/icon/icofont/css/icofont.css">

	<!-- Required Fremwork -->
	<link rel="stylesheet" type="text/css" href="~/Admin/assets/plugins/bootstrap/css/bootstrap.min.css">

	<!-- waves css -->
	<link rel="stylesheet" type="text/css" href="~/Admin/assets/plugins/Waves/waves.min.css">

	<!-- Style.css -->
	<link rel="stylesheet" type="text/css" href="~/Admin/assets/css/main.css">

	<!-- Responsive.css-->
	<link rel="stylesheet" type="text/css" href="~/Admin/assets/css/responsive.css">

	<!--color css-->
	<link rel="stylesheet" type="text/css" href="~/Admin/assets/css/color/color-1.min.css" id="color" />
</head>
<body>
	<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
		<!-- Container-fluid starts -->
		<div class="container-fluid">
			<div class="row">

				<div class="col-sm-12">
					<div class="login-card card-block">
						<form class="md-float-material" asp-action="Login" asp-controller="Home">
							<div class="text-center">
								<img src="~/Admin/assets/images/logoispacee.png" alt="logo" class="logo-image">
							</div>
							<h3 class="text-center txt-primary">
								Sign In to your account
							</h3>
							<div class="row">
								<div class="col-md-12">
									<div class="md-input-wrapper">
										<input asp-for="email" type="email" class="md-form-control" required="required" />
										<label asp-for="email">Email</label>
									</div>
								</div>
								<div class="col-md-12">
									<div class="md-input-wrapper">
										<input asp-for="matKhau" type="password" class="md-form-control" required="required" />
										<label asp-for="matKhau">Password</label>
									</div>
									
								</div>
								<div class="col-sm-6 col-xs-12">
									<div class="rkmd-checkbox checkbox-rotate checkbox-ripple m-b-25">
										<label class="input-checkbox checkbox-primary">
											<input type="checkbox" id="checkbox">
											<span class="checkbox"></span>
										</label>
										<div class="captions">Remember Me</div>

									</div>
								</div>
								@*<div class="col-sm-6 col-xs-12 forgot-phone text-right">
									<a href="forgot-password.html" class="text-right f-w-600"> Forget Password?</a>
								</div>*@
							</div>
							<div class="row">
								<div class="col-xs-10 offset-xs-1">
									<button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">LOGIN</button>
								</div>
							</div>
							<!-- <div class="card-footer"> -->
							@*<div class="col-sm-12 col-xs-12 text-center">
								<span class="text-muted">Don't have an account?</span>
								<a href="register2.html" class="f-w-600 p-l-5">Sign up Now</a>
							</div>*@

							<!-- </div> -->
						</form>
						<!-- end of form -->
					</div>
					<!-- end of login-card -->
				</div>
				<!-- end of col-sm-12 -->
			</div>
			<!-- end of row -->
		</div>
		<!-- end of container-fluid -->
	</section>

	<!-- Warning Section Ends -->
	<!-- Required Jqurey -->
	<script src="~/Admin/assets/plugins/jquery/dist/jquery.min.js"></script>
	<script src="~/Admin/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
	<script src="~/Admin/assets/plugins/tether/dist/js/tether.min.js"></script>

	<!-- Required Fremwork -->
	<script src="~/Admin/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

	<!-- waves effects.js -->
	<script src="~/Admin/assets/plugins/Waves/waves.min.js"></script>
	<!-- Custom js -->
	<script type="text/javascript" src="~/Admin/assets/pages/elements.js"></script>
	<script>
		document.getElementById("loginButton").addEventListener("click", function () {
			var email = document.getElementById("email").value;
			var matKhau = document.getElementById("matKhau").value;
			if (email && matKhau) {
				// Thực hiện kiểm tra mật khẩu và tên tài khoản ở đây
				if (kiemTraMatKhau(email, matKhau)) {
					// Đăng nhập thành công
				} else {
					// Đăng nhập không thành công
					hienThiLoi();
				}
			}
		});

		function kiemTraMatKhau(email, matKhau) {
			// Thực hiện kiểm tra mật khẩu và tên tài khoản ở đây
			// Trả về true nếu đúng, false nếu sai
		}

		function hienThiLoi() {
			var errorMessage = document.getElementById("errorMessage");
			errorMessage.style.display = "block";
		}
	</script>
	@await Component.InvokeAsync("NToastNotify");
</body>
</html>


