
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/QuanLy/Views/Share/_LayoutQuanLy.cshtml";
}

@model DoAnMonPhanTichPhanMem.Areas.GiamDoc.Models.NhaCungCap

<div>
    <div class="row">
        <div class="col-sm-12 p-0">
            <div class="main-header">
                <h4>Thông Tin Nhà Cung Cấp</h4>
                <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                    <li class="breadcrumb-item">
                        <a href="../DuyetDon/Index"><i class="icofont icofont-home"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="../NhaCungCap/Index">Thông Tin Nhà Cung Cấp</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="../NhaCungCap/Create">Form Nhà Cung Cấp</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="table-wrapper">
            <form method="post" id="createForm">
                <div>
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="form-group">
                                <label asp-for="tenNhaCungCap">Tên Nhà Cung Cấp</label>
                                <input asp-for="tenNhaCungCap" type="text" required class="form-control">
                                <input asp-for="maNhaCungCap" type="hidden" required class="form-control">
                            </div>
                            <div class="form-group">
                                <label asp-for="diaChi">Thông Tin Địa Chỉ</label>
                                <input asp-for="diaChi" type="text" required class="form-control">
                            </div>
                            <div class="form-group">
                                <label asp-for="soDienThoai">Số Điện Thoại</label>
                                <input asp-for="soDienThoai" type="text" required class="form-control">
                            </div>
                            <div class="form-group">
                                <label asp-for="email">Email</label>
                                <input asp-for="email" type="text" required class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" href="../NhaCungCap/Index" class="btn btn-secondary add-button" data-dismiss="modal" onclick="quayLaiTrang()">Đóng</button>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
            </form>

        </div>
    </div>
</div>
<script>
    function quayLaiTrang() {
        // Chuyển hướng trở lại trang Loại Cơ Sở Vật chất
        window.location.href = '../NhaCungCap/Index';
    }
</script>

